<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TipCalculator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TipCalculatorTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TipCalculatoriOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0740A9B41C71FCD8006E8E31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0740A9BD1C71FCD9006E8E31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D12B561C7150A8002BACF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07DC2CCA1C72189900EA80D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07E7BC0E1B012C93009A8A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07E7BC231B012C93009A8A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07E7BC441B012CBC009A8A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
